@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@400..700&display=swap&family=Montserrat:wght@400..700&display=swap");
:root {
  --green: #225e60;
  --light-green: #69968f;
  --white: #fefbf6;
  --black: #312f3c;
  --yellow: #eaac39;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  line-height: 1.5rem;
}

.header {
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-family: "Noto Serif Display", Arial, Helvetica, sans-serif;

  background-image: url("/images/zonnedans-1920px.jpg");

  @media screen and (max-width: 40rem) {
    background-image: url("/images/baken-640px.jpg");
  }
}

.title {
  color: var(--white);
  font-weight: 400;
  font-size: 4rem;
  font-family: inherit;
  line-height: 4rem;
  padding-bottom: 2rem;
}

.sub-title {
  color: var(--white);
  font-weight: 400;
  line-height: 2.5rem;
  font-size: 2rem;
  font-family: inherit;
}

.intro-text {
  padding: 12rem 1rem;
  background-color: var(--light-green);
  color: var(--white);
  display: flex;
  justify-content: center;
}

.intro-text > .container {
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 8rem;
}

.quote {
  font-size: 2rem;
  line-height: 2.5rem;
  font-family: "Noto Serif Display";
  text-align: center;
}

.hoe-ga-ik-te-werk {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 5rem 1rem;
}

.section-header {
  color: var(--green);
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-bottom: 2px var(--yellow) solid;
  text-align: center;
}

.green {
  color: var(--green);
}

.text-block-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 2rem;
  max-width: 40rem;
}

.container-light > p {
  color: var(--black);
}

.emphasis {
  font-weight: bold;
}

.testimonials {
  background-color: var(--light-green);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 1rem;
}

.white {
  color: var(--white);
}

.testimonials > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 21rem;

  @media screen and (max-width: 760px) {
    min-height: 21rem;
    height: auto;
  }
}

.testimonial {
  padding: 1.5rem;
  background-color: var(--white);
  border-radius: 1rem;
  max-width: 40rem;
  border: 2px var(--green) solid;
  margin: 0.5rem;
}

.testimonial-btn {
  width: 2.75rem;
  height: 2.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  background-color: transparent;
  border-radius: 100%;
}

.testimonial-btn:hover {
  cursor: pointer;
  background-color: var(--white);
}

.rechts {
  transform: rotate(180deg);
}

.author {
  padding-top: 1rem;
  color: var(--green);
}

.about-me {
  padding: 5rem 1rem;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;

  @media screen and (max-width: 40rem) {
    flex-direction: column-reverse;
  }
}

.about-me > .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 40rem;
  width: 40%;
  @media screen and (max-width: 40rem) {
    width: 100%;
  }
}

.about-me > img {
  width: 40%;
  @media screen and (max-width: 40rem) {
    width: 70%;
  }
  margin: 1rem 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.about-me > .content > *:not(:last-child) {
  padding-bottom: 2rem;
}

.footer {
  background-color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
}

.footer > .container {
  width: calc(min(40rem, 90vw));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.contact {
  color: var(--yellow);
  text-transform: uppercase;
  padding-bottom: 2rem;
}

.instagram {
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
}

.insta-logo {
  width: 2rem;
  height: 2rem;
}

.insta-handle {
  color: var(--white);
}
.insta-handle:hover {
  color: var(--yellow);
}

.emailaddress {
  color: var(--white);
}
.emailaddress:hover {
  color: var(--yellow);
}
