@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400..700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.heading-1 {
  color: white;
  font-weight: 400;
  font-size: 4rem;
}
.heading-2 {
  color: #225e60;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0;
}

.header {
  height: 100vh;
  background-image: url("/images/zonnedans-1920px.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image {
  width: 100%;
}
