@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@400..700&display=swap&family=Montserrat:wght@400..700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.header {
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-family: "Noto Serif Display", Arial, Helvetica, sans-serif;

  background-image: url("/images/zonnedans-1920px.jpg");

  @media screen and (max-width: 40rem) {
    background-image: url("/images/baken-640px.jpg");
  }
}

.title {
  color: white;
  font-weight: 400;
  font-size: 4rem;
  font-family: inherit;
}

.sub-title {
  color: #fefbf6;
  font-weight: 400;
  font-size: 2rem;
  font-family: inherit;
}

.intro-text {
  padding: 10vw;
  background-color: #225e60;
  color: #fefbf6;
}

.quote {
  font-size: 1.5rem;
  padding: 1rem;
}

.hoe-ga-ik-te-werk {
  background-color: #fefbf6;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 3rem 0;
}

.text-block-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 2rem;
  max-width: 40rem;
}

.container-light > p {
  color: #312f3c;
}

.emphasis {
  font-weight: bold;
}

.section-header-green {
  color: #225e60;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0;
  padding-bottom: 2rem;
}
